<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:dd} %-5p [%t] %c{1}:%L - %m%n" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="server" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>

        <file>logs/server.log</file>

        <!-- 滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 指定滚动文件的命名模式 -->
            <fileNamePattern>logs/server.%d{yyyy_MM_dd}.log</fileNamePattern>
            <!-- 保留最近 1 天的日志文件 -->
            <maxHistory>1</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="filterMetrics" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>

        <file>logs/filter.metrics.log</file>

        <!-- 滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 指定滚动文件的命名模式 -->
            <fileNamePattern>logs/filter.metrics.%d{yyyy_MM_dd}.log</fileNamePattern>
            <!-- 保留最近 3 天的日志文件 -->
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="eventMetrics" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>

        <file>logs/event.metrics.log</file>

        <!-- 滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 指定滚动文件的命名模式 -->
            <fileNamePattern>logs/event.metrics.%d{yyyy_MM_dd}.log</fileNamePattern>
            <!-- 保留最近 3 天的日志文件 -->
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="nettyMetrics" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>

        <file>logs/netty.metrics.log</file>

        <!-- 滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 指定滚动文件的命名模式 -->
            <fileNamePattern>logs/netty.metrics.%d{yyyy_MM_dd}.log</fileNamePattern>
            <!-- 保留最近 3 天的日志文件 -->
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="nsb.filter.metrics" level="INFO" additivity="false">
        <appender-ref ref="filterMetrics"/>
    </logger>

    <logger name="nsb.event.metrics" level="INFO" additivity="false">
        <appender-ref ref="eventMetrics"/>
    </logger>

    <logger name="nsb.netty.metrics" level="INFO" additivity="false">
        <appender-ref ref="nettyMetrics"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="server"/>
    </root>


</configuration>
